.web {
    margin-top: 1%;
    text-align: center;
    font-size: 60px;
    color: white;
}

.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: auto;
    border-radius: 50%;
    border: 6px solid #FEB177;
    border-color: #FEB177 transparent #FEB177 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.bg-orange {
    background-color: #FEB177;
    color: #fff;
    border-color: #FEB177;
}

.notif-list {
    text-decoration: none;
}

.notif-list:hover {
    color: #3E3F3A;
    text-decoration: none;
}

.titles {
    text-transform: uppercase;
    font-weight: bold;
}

@media (max-width: 700px) {
    .w-sm {
        width: 60%;
    }
}

@media (min-width: 701px) and (max-width: 1374px) {
    .w-lg {
        width: 50%;
    }
}

@media (min-width: 1375px) {
    .w-xl {
        width: 33%;
    }
}

.btn-orange {
    color: #fff;
    background-color: #FEB177;
    border-color: #FEB177;
}

.font-orange {
    color: #FEB177;
}

.btn-orange:hover {
    color: #fff;
    background-color: #F3AB75;
    border-color: #F3AB75;
}

.inputs {
    padding: 4px;
    border: 1px solid #999;
    border-radius: 4px;
    width: 100%;
    margin-left: -10%;
}